@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


body{
    float: right;

    font-family: Garamond,sans-serif;
    font-size: 20px;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/papel.jpg");
    background-position:center;
    text-align: center;
    z-index: 10;


}
h2{
    margin: 0 auto;
    padding: 0;
}
h2 em{
    color: black;
    font-size: 2em;
    font-family: Birthstone,sans-serif;
}


nav h1{
    position: fixed;
    top: 50px;
    left: 60%;
    text-align: right;
    color: red;
    text-shadow: 0 0 20px red;
    font-family: Birthstone,sans-serif;
    width:40%;
    Font-size: 30px;
    z-index: 100;
}

nav{
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    top: 70px;
    width: 100%;
    height: 44px;
    z-index: 15;

}

nav a{
    color: white;
    text-decoration: none;
}
nav ul{
    margin: 0;
    padding: 0;

}
nav>ul>li{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}
nav>ul>li:hover{
    background-color: gray;
}
nav>ul>li>ul{
    position: absolute;
    top: 40px;
    background-color: black;
    width: 150px;
    text-align: left;
    display: none;

}
nav>ul>li>ul>li{
    display: block;
    padding: 5px;
}
nav>ul>li>ul>li:hover{
    background-color: gray;
}
nav>ul>li:hover >ul{
    display: block;
}


nav>ul>li>ul>li>ul>li{
    display: block;
    padding: 5px;
}
nav>ul>li>ul>li>ul>li:hover{
    background-color: gray;
}
nav>ul>li:hover>ul>li:hover>ul{
    display: block;
}

nav>ul>li>ul>li>ul{
    position: absolute;
    top: 0;
    left: 150px;
    background-color: black;
    width: 200px;
    text-align: left;
    display: none;
}
main{
    position: absolute;
    top: 110px;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    background-color:red;
    background-image:url(../img/fondo.jpg);
    background-position:center;
    background-size:cover;
    z-index: 9;
}

#contenido{
    position: static;
    padding: 50px;
    margin: 0;
}

h3{
    text-align: center;
    font-size: 2em;

    color: darkslateblue;
    width: 100px;
    margin: 0 auto;

}
h3:hover{
    text-transform: uppercase;
    font-size: 3em;
}
table{
    margin: 0 auto;
    font-family: EB Garamond, sans-serif;
}
th {
    text-align: center;
    background-color: limegreen;
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: Birthstone, sans-serif;
}
td{
    text-align: justify;
    padding: 20px;
}

table tr:nth-child(odd){
    background-color: lightslategray;
    color: black;
}
table tr:nth-child(even){
    background-color: #d6d6d6;
    color: black;
}
footer{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    top: 96%;
    left: 0;
    color: white;
    z-index: 80;
    text-align: center;
}

@media screen and (max-width:700px) {


    h2 em {
        font-size: 30px;
    }
    h2,h3,p{
        margin:10px;
    }
    footer{
        font-size: 10px;
    }
    .iconos img{
        width: 0;
        height:0;
    }

}