@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

*{
    font-family: Garamond,sans-serif;
    font-size: 25px;

}
body{
    float: right;
    overflow-x: hidden;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/papel.jpg");
    text-align: center;
    z-index: 10;
    border-bottom:10px solid black;


}
/*#portada{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    /*height:100%;
    background-image: url("img/oficina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; *
    text-align:center;
    line-height:100%;
    z-index:90;
}
*/

h1{
    position:fixed;
    text-align:right;
    color: red;
    text-shadow: 0 0 20px red;
    font-family: Birthstone,sans-serif;
    width:50%;
    Top: 0;
    left: 700px;
    Font-size: 80px;
    z-index: 100;
}
/*#portada:hover{
    opacity:0;
    transition:2s;
}
#capaportada{
    position:absolute;
    left:0;
    top:0;
}*/


#menu{
    position:fixed;
    margin: 0 auto;
    padding: 0;
    top: 70px;
    left:0;
    height: 9%;
    width: 100%;
    bottom:0;
    background-color: lightslategray;
    z-index: 5;
    border-bottom:10px solid black;
    word-spacing: 10px;
}

#menu  li {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    list-style: none;
    background-color: lightslategray;

}

#menu a{
    text-decoration: none;
    color: black;
}
#menu a:hover{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 6;
    font-family: Georgia,sans-serif;

}
.submenú1,.submenú2{
    display: none;

}
.submenú1{

    left: -40px;

}
.submenú2{
    top: 10px;
    right: -10px;
}
#menu li:hover .submenú1,.submenú1 li:hover .submenú2{
    position: absolute;
    height: 8px;
    width: 10px;
    display: block;
}

figure{
    text-align: center;
    width: 400px;
    height: 400px;
    border: 10px solid black;
    padding: 0;
    margin: 0 auto;
    background-image: url("../img/raul.PNG");
    background-position:center;
    background-size:cover;

}

figcaption{
    background-color: rgb(120,110,105);
    color: #d6d6d6;
    text-align: center;
    margin: 0;
    padding: 0;

}
figcaption:hover{
    background-color: red;
    text-transform: uppercase;
}



h2 em{
    color: black;
    font-size: 2em;
}

h3{
    text-align: center;
    font-size: 2em;
    color: rgb(100,30,40);
}
h3:hover{
    transition: 3s;
    transform: rotate(360deg);
    animation-duration: 3s;
    animation-delay: 2s;

}

h4{
    text-align: center;
    font-size: 2em;
    color: limegreen;
    border-bottom: 1px solid lightseagreen;
}



.iconos{
    top: 0;
}
.iconos img{
    width: 80px;
    height: 80px;
}

main{
    position: absolute;
    top: 110px;
    width: 100%;
    left: 0;
    padding: 0;
    background-color:#e4e4e4;
    background-image:url(../img/fondo.jpg);
    background-position:center;
    background-size:cover;
    margin: 0;
}

#contenido{
    position: static;
    padding: 30px;
    text-align: justify;
    margin: 0;
}
table{
    margin: 0 auto;
    text-align: justify;
}
thead th{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 2em;
    margin: 0 auto;
    padding: 0;
    height: 100px
}
thead th img{
    margin: 0 auto;
    text-align: center;
}
#tabla{
    background-color: rgb(113, 16, 178);
    color: white;
    text-align: center;

}

footer{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    top: 96%;
    left: 0;
    color: white;
    z-index: 80;
    text-align: center;
}

@media screen and (max-width:700px){
    body{
        background-image: none;
    }
    h2,h3,p,ul{
        margin-left:10px;
    }

}