@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

*{
    font-family: Garamond,sans-serif;
    font-size: 25px;

}
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("img/papel.jpg");
    text-align: center;
    z-index: 10;
    border-bottom:10px solid black;

}
/*#portada{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("img/oficina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align:center;
    line-height:100%;
    z-index:90;
}

#portada:hover{
    opacity:0;
    transition:2s;
}*/
#capaportada{
    position:absolute;
    left:0;
    top:0;



}
h1{
    position:absolute;
    text-align:center;
    color: red;
    text-shadow: 0 0 20px red;
    font-family: Birthstone,sans-serif;
    width:100%;
    Top:65%;
    Font-size: 3em;
    z-index: 100;
}

#lateral{
    position:fixed;
    margin: 0;
    left:0;
    top: 100px;
    width: 25%;
    bottom:0;
    background-color: lightslategray; 
    padding: 5px;
    z-index: 5;
    border-right:10px solid black;
    border-right-style: dashed;

}


#lateral li {
    padding: 5px;
    list-style: none;
    background-image: url("img/flecha.jpg");


}
#lateral li img{
    background-image: url("img/flecha.jpg");
    z-index: 6;
}
#lateral li:hover{
    background-color: white;

}
#lateral a:hover{
    color:black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 6;
    font-family: Georgia,sans-serif;
}
h2 em{
    color: black;
    font-size: 2em;

}

h3{
    text-align: center;
    font-size: 2em;
    color: limegreen;

}
main{
    position: absolute;
    float: right;
    top: 110px;
    width: 70%;
    left: 25%;
    padding: 50px;
    background-color:#e4e4e4;
    background-image:url(img/fondo.jpg);
    background-position:center;
    background-size:cover;
    margin: 0;

}
#inicio{
    position: static;
    padding-left: 30px;
    text-align: justify;
}

thead{
    text-align: center;
    background-color: aqua;
    color: white;
}

footer{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    top: 97%;
    left: 0;
    color: white;
    z-index: 80;
    text-align: center;
}
figure{
    text-align: center;
    width: 300px;
    border: 10px solid black;
    margin: 0 35%;
    padding: 0;

}

figcaption{
    background-color: rgb(114,111,106);
    color: #d6d6d6;
    text-align: center;
    margin: 0;
    padding: 0;

}

@media screen and (max-width:700px){
    body{
        background-image: none;
    }
    h2,h3,p,ul{
        margin-left:10px;
    }

}