
*{
    font-family: Garamond,sans-serif;
    font-size: 25px;

}
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: darkslateblue;
    text-align: center;
    z-index: 10;
    border-bottom:10px solid black;

}

#lateral{
    position:fixed;
    margin: 0;
    left:0;
    top: 100px;
    width:320px;
    bottom:0;
    background-color: lightslategray; 
    padding: 5px;
    z-index: 5;
    border-right:10px solid black;
}
#lateral li {
    padding: 5px;
}
#lateral li:hover{
    background-color: white;
}
h1 em{
    color: white;
    font-size: 2em;
}
main{
    position: absolute;
    float: right;
}
h2{
    color: green;
    border-bottom: 1px solid green;
}